body{
      font-family: SF Pro Text, arial, sans-serif;
      margin: 0px;
      }

/********** Layout **********/

#header{
      width: 100%;
      border: 1px solid #CCC;
      background-color: #666;
      }
  #header_kontakt{
        width: 1280px;
        height: 40px;
        margin: 0px auto;
        text-align: right;
        vertical-align: middle;
        color: #FFF;
        padding: auto 0px;
        }
  #weiss{
        width: 100%;
        background-color: #FFF;
        }
  #header_navigation{
        width: 1280px;
        height: 80px;
        background-color: #FFF;
        margin: 0px auto;
        border: 1px solid #FFF;
        /* Text */
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        vertical-align: middle;
        }
  #header_image{
        height: 720px;
        background-image: url(images/high_voltager_web_tiny.jpg);
        background-size: cover;
        background-position: center center;
        background-color: #EEE;
        padding: 80px;
        text-align: center;
        }
#inhalt{
      width: 1280px;
      margin: 40px auto;
      }
#footer{
      width: 100%;
      margin: 40px 0 0 0;
      background-color: #666;
      padding: 20px 0px;
      }
#footer_kontakt{
  width: 1280px;
  margin: 0 auto;
  color: #FFF;
}

/********** Textformatierung **********/

.header_image{
    font-size: 32px;
    font-weight: 900;
    color: #FFF;
    }

/********** Formatierung Navigation Header Kontakt **********/

a:link.header_kontakt{
    color: #FFF;
    text-decoration: none;
    }
a:hover.header_kontakt{
    color: #DDD;
    }

/********** Formatierung Navigation Header Navigation **********/

a:link.header_navigation{
    color: #ff9600;
    text-decoration: none;
    }
a:hover.header_navigation{
    color: #ffbe60;
    }
a:visited.header_navigation{
    color: #ff9600;
  }
a:visited:hover.header_navigation{
    color: #ffbe60;
}

/********** Fomratierung Header Navigation **********/

.header_navigation{
    color: #DDD;
    }
